<!-- ce fichier est le formulaire d'inscription -->

<div class="page-inscription">
  <div class="carte-globale">
    <div class="panneau-gauche">
      <img src="assets/logo_blanc.png" alt="It'SUSHI Logo" class="logo" />
    </div>

    <div class="panneau-droit">
      <div class="entete-texte">
        <h2>Bonjour</h2>
        <p class="sous-titre">Bienvenue sur It'SUSHI - Créez votre compte</p>
        <div class="separateur"></div>
      </div>

      <form (ngSubmit)="onSubmit()">
        <div class="groupe-champ">
          <label>Prénom</label>
          <input type="text" name="firstname" [(ngModel)]="firstname" placeholder="Votre Prénom" required />
        </div>

        <div class="groupe-champ">
          <label>Nom</label>
          <input type="text" name="lastname" [(ngModel)]="lastname" placeholder="Votre Nom" required />
        </div>

        <div class="groupe-champ">
          <label>Votre Email</label>
          <input type="email" name="email" [(ngModel)]="email" placeholder="It'SUSHI@gmail.com" required />
        </div>

        <div class="groupe-champ">
          <label>Votre mot de passe</label>
          <input type="password" name="password" [(ngModel)]="password" placeholder="**************" required
            minlength="6" />
        </div>

        <div class="groupe-champ">
          <label>Compte étudiant</label>
          <input type="checkbox" name="type_compte" [(ngModel)]="type_compte" />
        </div>

        <button type="submit" [disabled]="loading" class="bouton-valider">
          {{ loading ? 'Création...' : "S'inscrire" }}
        </button>

        <a routerLink="/login" class="bouton-login">Se connecter</a>

      </form>

      <p *ngIf="message" class="message-erreur">{{ message }}</p>
    </div>
  </div>
</div>